{% extends "base.html" %}{% block title %}F1 Statistics | {{constructors.name}}{% endblock %} {% block content %}

<div class="pageHeader">
  <h1 class="center-align pageName white-text text-shadow slogan">
    {{ constructors.name }}
  </h1>
</div>
<div class="col s12 center-align">
  <form method="POST">
    {% if favourites | length > 0 %}
    <button type="submit" name="action" value="remove"
      class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
      Remove from Favourites <i class="fas fa-heart-circle-minus right"></i>
    </button>
    {% else %}
    <button type="submit" name="action" value="add" class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
      Add to Favourites <i class="fas fa-heart-circle-plus right"></i>
    </button>
    {% endif %}
  </form>
</div>
<div class="center-align top_row_spacer">
  <a href="{{ url_for('constructors') }}" class="grey lighten-3 btn z-depth-2 black-text glow-on-hover">Back to
    Constructors</a>
  <a target="_blank" type="button" class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
    href="{{ constructors.url }}">
    <i class="fa-brands fa-wikipedia-w"></i>
    View Wikipedia Article<span class="sr-only">Wikipedia link for {{constructors.name}}</span></i></a>
</div>
<div class="row remove-bottom-margin valign-wrapper">
  <div class="col s4 center-align">
    <p>
      {% if image == "../static/img/no_image_available.svg" %}
      <img id="constructor_image" src="{{ image }}" alt="No image available" />
      {% else %}
      <img id="constructor_image" src="{{ image }}" alt="{{constructors.forename}} {{constructors.surname}}" />
      {% endif %}
    </p>
  </div>
  <div class="col s8 center-align">
    <table class="infoTable">
      <tbody>
        <tr>
          <th>
            <h2 class="light-blue-text text-darken-4 center-align slogan">
              Information about {{ constructors.name }}
            </h2>
          </th>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{ constructors.name }}</td>
        </tr>
        <tr>
          <td>Nationality</td>
          <td>{{ constructors.nationality }}</td>
        </tr>
      </tbody>
    </table>

    <table class="infoTable">
      <tbody>
        <tr>
          <th>
            <h2 class="light-blue-text text-darken-4 center-align slogan">
              Race Statistics for {{ constructors.name }}
            </h2>
          </th>
        </tr>
        <tr>
          <td>Number of Entries</td>
          <td>{{ results | length }}</td>
        </tr>
        <tr>
          <td>Number of Wins</td>
          <td>{{ wins | length }}</td>
        </tr>
        <tr>
          <td>Number of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Wins</td>
          {%if results | length > 0 %}
          <td>{{ ((wins | length / results | length) * 100)|round(2) }}%</td>
          {%else%}
          <td>0</td>
          {%endif%}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}