{% extends "base.html" %} {% block content %}
<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    {{ circuits.name }}
  </h4>
</div>
<div class="row">
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>Location:</b></p>
        <p>{{circuits.location}}</p>
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>Country:</b></p>
        <p>{{circuits.country}}</p>
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>View On Google Maps:</b></p>
        <a
          target="_blank"
          type="button"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          href="https://www.google.com/maps/search/{{ circuits.lat }},{{ circuits.lng }}"
        >
          <img
            src="{{ url_for('static', filename='svg/Google_Maps_icon.svg') }}"
            alt="Google Maps link for {{ circuits.name }}"
            class="google-maps"
          />
        </a>
      </span>
    </div>
  </div>
</div>
<table class="striped centered display" id="contentTable">
  <thead>
    <tr>
      <th>Race Name</th>
      <th>
        Wikipedia Article<br />
        (Opens in a new tab)
      </th>
      <th>Link to Race</th>
      <th>Link to Season</th>
    </tr>
  </thead>
  <tbody>
    {% for race in races %} {% if race.circuitId == circuits.circuitId %}
    <tr>
      <td>{{ race.year }} {{race.name }}</td>
      <td>
        <a
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          target="_blank"
          href="{{ race.url }}"
          ><i class="fa-brands fa-wikipedia-w"></i
          ><span class="sr-only"
            >Wikipedia link for {{ race.year }} {{race.name }}</span
          ></a
        >
      </td>
      <td>
        <a
          href="{{ url_for('view_race', race_id=race._id) }}"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          >View Race</a
        >
      </td>
      <td>
        {% for season in seasons %} {% if season.year == race.year %}
        <a
          href="{{ url_for('view_season', season_id=season._id) }}"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          >View Season</a
        >
        {% endif %} {% endfor %}
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>

{% endblock %}
