{% extends "base.html" %}{% block title %}F1 Statistics | {{constructors.name}} {% block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    {{ constructors.name }}
  </h4>
</div>
<div class="center-align">
  <a
    href="{{ url_for('constructors') }}"
    class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
    >Back to Constructors</a
  >
  <a
  target="_blank"
  type="button"
  class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
  href="{{ constructors.url }}"
>
  <i class="fa-brands fa-wikipedia-w"></i>
    View Wikipedia Article<span class="sr-only"
      >Wikipedia link for {{constructors.name}}</span
    ></i
  ></a
>
</div>
<div class="row remove-bottom-margin valign-wrapper">
  <div class="col s4 center-align">
    <p>
      <img id="constructor_image" src="{{ image }}" />
    </p>
  </div>
  <div class="col s8 center-align">
    <h3 class="light-blue-text text-darken-4 center-align">
      Information about {{ constructors.name }}
    </h3>
    <table id="#myTable">
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ constructors.name }}</td>
        </tr>
        <tr>
          <td>Nationality</td>
          <td>{{ constructors.nationality }}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="light-blue-text text-darken-4 center-align">
      Race Statistics for {{ constructors.name }}
    </h3>
    <table>
      <tbody>
        <tr>
          <td>Number of Entries</td>
          <td>{{ results | length }}</td>
        </tr>
        <tr>
          <td>Number of Wins</td>
          <td>{{ wins | length }}</td>
        </tr>
        <tr>
          <td>Number of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Wins</td>
          {%if results | length > 0 %}
          <td>{{ ((wins | length / results | length) * 100)|round(2) }}%</td>
          {%else%}
          <td>0</td>
          {%endif%}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
