{% extends "base.html" %} {% block title %}F1 Statistics | {{drivers.forename}} {{drivers.surname}}{% endblock %}{%
block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    {{ drivers.forename }} {{ drivers.surname }}
  </h4>
</div>
<div class="col s12 center-align">
  <form method="POST">
    {% if favourites | length > 0 %}
    <button type="submit" name="action" value="remove"
      class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
      Remove from Favourites <i class="fas fa-heart-circle-minus right"></i>
    </button>
    {% else %}
    <button type="submit" name="action" value="add" class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
      Add to Favourites <i class="fas fa-heart-circle-plus right"></i>
    </button>
    {% endif %}

  </form>
</div>
<div class="center-align top_row_spacer">
  <a href="{{ url_for('drivers') }}" class="grey lighten-3 btn z-depth-2 black-text glow-on-hover">Back to Drivers</a>
  <a target="_blank" type="button" class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
    href="{{ drivers.url }}">
    <i class="fa-brands fa-wikipedia-w"></i>
    View Wikipedia Article<span class="sr-only">Wikipedia link for {{drivers.forename}}
      {{drivers.surname}}</span></i></a>
</div>
<div class="row remove-bottom-margin valign-wrapper">
  <div class="col s4 center-align">
    <p>
      <img id="driver_image" src="{{ image }}"
        alt="{{drivers.nationality}} racing driver {{drivers.forename}} {{drivers.surname}}" />
    </p>
  </div>
  <div class="col s8 center-align">
    <h3 class="light-blue-text text-darken-4 center-align">
      Information about {{ drivers.forename }} {{ drivers.surname }}
    </h3>
    <table id="#myTable">
      <tbody>
        <tr>
          <td>Forename</td>
          <td>{{ drivers.forename }}</td>
        </tr>
        <tr>
          <td>Surname</td>
          <td>{{ drivers.surname }}</td>
        </tr>
        <tr>
          <td>Nationality</td>
          <td>{{ drivers.nationality }}</td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td>{{ drivers.dob }}</td>
        </tr>
        <tr>
          <td>Drivers Code</td>
          <td>{{ drivers.code if drivers.code else "No information" }}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="light-blue-text text-darken-4 center-align">
      Race Statistics for {{ drivers.forename }} {{ drivers.surname }}
    </h3>
    <table>
      <tbody>
        <tr>
          <td>Number of Races</td>
          <td>{{ results | length }}</td>
        </tr>
        <tr>
          <td>Number of Wins</td>
          <td>{{ wins | length }}</td>
        </tr>
        <tr>
          <td>Number of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Podiums</td>
          <td>{{ wins | length + second | length + third | length }}</td>
        </tr>
        <tr>
          <td>Percentage of Wins</td>
          <td>{{ ((wins | length / results | length) * 100)|round(2) }}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% if hide_chart %}
<div class="row chart-row noChartData">
  <div class="card-panel center-align orange lighten-3">
    <span>
      <p><b> As they have no results where they finished a race, no chart is available for {{drivers.forename}}
          {{drivers.surname}}. </b></p>
    </span>
  </div>
  {% else %}
  <div class="row center-align">
    <p>
    <h5>The chart below shows a graph detailing the position {{drivers.forename}} {{drivers.surname}} has finished each
      race.</h5>
    </p>
    <p>Please note: Races in which {{drivers.forename}} {{drivers.surname}} did not finish are not shown.</p>
  </div>
  <div class="row chart-row">
    <iframe class="center-align"
      style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
      width="640" height="480" src="https://charts.mongodb.com/charts-project-0-jtyss/embed/charts?id=625c6f81-ecf4-4d24-8223-9a3fddc76950&maxDataAge=3600&
  theme=light&autoRefresh=true&filter={'driverId':%20{$eq:%20{{drivers.driverId}}}}"></iframe>
  </div>
  {% endif %}

  {% endblock %}