{% extends "base.html" %} {% block content %}
<h3 class="light-blue-text text-darken-4 center-align">{{ circuits.name }}</h3>
<div class="row">
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>Location:</b></p>
        <p>{{circuits.location}}</p>
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>Country:</b></p>
        <p>{{circuits.country}}</p>
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        <p><b>View On Map:</b></p>
        <a
          target="_blank"
          class="waves-effect waves-light btn"
          href="https://www.google.com/maps/search/{{ circuits.lat }},{{ circuits.lng }}"
          >Open on Google Maps</a
        >
      </span>
    </div>
  </div>
</div>
<table class="striped centered">
  <thead>
    <tr>
      <th>Year</th>
      <th>Wikipedia</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for race in races %} {% if race.circuitId == circuits.circuitId %}
    <tr>
      <td>{{ race.year }}</td>
      <td>
        <a
          class="waves-effect waves-light btn"
          target="_blank"
          href="{{ race.url }}"
          ><i class="fa-brands fa-wikipedia-w"></i>View Article</a
        >
      </td>
      <td>
        <a
          href="{{ url_for('view_race', race_id=race._id) }}"
          class="btn green accent-4"
          >View Race</a
        >
      </td>
      <td>
        {% for season in seasons %} {% if season.year == race.year %}
        <a
          href="{{ url_for('view_season', season_id=season._id) }}"
          class="btn green accent-4"
          >View Season</a
        >
        {% endif %} {% endfor %}
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>

{% endblock %}
