{% extends "base.html" %}{% block title %}F1 Statistics | Change Password {%
endblock %} {% block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    Change Password
  </h4>
</div>
<div class="row remove-bottom-margin">
  <form
    class="col s12 m8 offset-m2"
    method="POST"
    action="{{ url_for('change_password')}}"
  >
    <div class="input-field col s6 offset-s3">
      <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
      <input
        id="currentPassword"
        name="currentPassword"
        type="password"
        minlength="5"
        maxlength="15"
        pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate"
        required
      />
      <label for="currentPassword">Current Password</label>
    </div>
    <div class="input-field col s6 offset-s3">
      <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
      <input
        id="newPassword"
        name="newPassword"
        type="password"
        minlength="5"
        maxlength="15"
        pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate"
        onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 5 characters' : ''); if(this.checkValidity()) form.confirmNewPassword.pattern = this.value;"
        required
      />
      <label for="newPassword">New Password</label>
    </div>
    <div class="input-field col s6 offset-s3">
      <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
      <input
        id="confirmNewPassword"
        name="confirmNewPassword"
        type="password"
        minlength="5"
        maxlength="15"
        pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate"
        onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Passwords do not match' : '');"
        required
      />
      <label for="confirmNewPassword">Confirm New Password</label>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="center-align">
          <button
            id="deleteAccount"
            href="{{url_for('delete_account')}}"
            class="col s6 offset-s3 btn grey darken-2 text-shadow"
          >
            Change Password
          </button>
        </p>
      </div>
    </div>
  </form>
</div>

{% endblock %}
