{% extends "base.html" %} {% block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    Change Password
  </h4>
</div>
<div class="row remove-bottom-margin">
  <div class="input-field col s6 offset-s3">
    <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
    <input
      id="password"
      name="password"
      type="password"
      minlength="5"
      maxlength="15"
      pattern="^[a-zA-Z0-9]{5,15}$"
      class="validate"
      required
    />
    <label for="password">Current Password</label>
  </div>
  <div class="input-field col s6 offset-s3">
    <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
    <input
      id="password"
      name="password"
      type="password"
      minlength="5"
      maxlength="15"
      pattern="^[a-zA-Z0-9]{5,15}$"
      class="validate"
      required
    />
    <label for="password">New Password</label>
  </div>
  <div class="input-field col s6 offset-s3">
    <i class="fa-solid fa-user-lock prefix light-blue-text text-darken-4"></i>
    <input
      id="password"
      name="password"
      type="password"
      minlength="5"
      maxlength="15"
      pattern="^[a-zA-Z0-9]{5,15}$"
      class="validate"
      required
    />
    <label for="password">Confirm New Password</label>
  </div>
</div>

{% endblock %}
