{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-blue-text text-darken-4">
        Change Password
      </h3>
    </div>
    <div class="input-field col s6 offset-s3">
      <i class="fa-solid fa-user-tag prefix light-blue-text text-darken-4"></i>
      <input
        id="displayName"
        name="displayName"
        type="text"
        minlength="5"
        maxlength="15"
        pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate"
        value="{{display_name}}"
        required
      />
      <label for="displayName">Display Name</label>
    </div>
    <div class="input-field col s6 offset-s3">
      <i class="fa-solid fa-envelope prefix light-blue-text text-darken-4"></i>
      <input
        id="displayName"
        name="displayName"
        type="text"
        minlength="5"
        maxlength="15"
        pattern="^[a-zA-Z0-9]{5,15}$"
        class="validate"
        required
      />
      <label for="displayName">Email</label>
    </div>
  </div>
</div>

{% endblock %}
