{% extends "base.html" %} {% block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    Delete Account
  </h4>
</div>

<div class="row remove-bottom-margin">
  <div class="col s12 m8 offset-m2 center-align">
  <a
    href="{{url_for('profile', username=username)}}"
    class="btn green accent-4"
    >Back to Profile</a
  >
</div>
  <div class="col s12 m8 offset-m2 center-align">
    <h1>Warning: This action is NOT reversable.</h1>
  </div>
  <div class="col s12 m8 offset-m2 center-align">
    <h2>If you wish to proceed with this action type your name into the box below and click submit.
  </div>
  
  <div class="input-field col s6 offset-s3">
    <i class="fa-solid fa-user-tag prefix light-blue-text text-darken-4"></i>
    <input
      id="username"
      name="username"
      type="text"
      minlength="5"
      maxlength="15"
      pattern="^[a-zA-Z0-9]{5,15}$"
      class="validate"
      value="{{display_name}}"
      required
    />
    <label for="username">Confirm your username before deletion.</label>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="center-align">
        <a
          href="{{url_for('delete_account')}}"
          class="col s6 offset-s3 btn grey darken-2 text-shadow"
          >Delete Account</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
