{% extends "base.html" %}{% block title %}F1 Statistics | {{ display_name }}'s
Favourites {% endblock %} {% block content %}

<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    {{display_name}}'s Favourites
  </h4>
</div>
<div class="row remove-bottom-margin">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3 grey darken-1 z-depth-5">
        <a href="#test1" class="white-text">Circuits</a>
      </li>
      <li class="tab col s3 grey darken-1 z-depth-5">
        <a href="#test2" class="white-text">Constructors</a>
      </li>
      <li class="tab col s3 grey darken-1 z-depth-5">
        <a href="#test3" class="white-text">Drivers</a>
      </li>
      <li class="tab col s3 grey darken-1 z-depth-5">
        <a href="#test4" class="white-text">Races</a>
      </li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <table class="striped centered" id="circuitTable">
      <thead>
        <tr>
          <th>Circuit Name</th>
          <th>View Page</th>
          <th>View on Google Maps</th>
          <th>View Wikipedia Article</th>
          <th>Remove From Favourites</th>
        </tr>
      </thead>
      <tbody>
        {% for i in test %}{% for circuit in circuits %}{% if circuit._id ==
        i.circuitId and username == i.username %}
        <tr>
          <td>{{circuit.name}}</td>
          <td>
            <a
              href="{{ url_for('view_circuit', circuit_id=circuit._id) }}"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              >View</a
            >
          </td>
          <td>
            <a
              target="_blank"
              type="button"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              href="https://www.google.com/maps/search/{{ circuit.lat }},{{ circuit.lng }}"
            >
              <img
                src="{{ url_for('static', filename='svg/Google_Maps_icon.svg') }}"
                alt="Google Maps link for {{ circuit.name }}"
                class="google-maps"
              />
            </a>
          </td>
          <td>
            <a
              target="_blank"
              type="button"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              href="{{ circuit.url }}"
            >
              <i class="fa-brands fa-wikipedia-w"
                ><span class="sr-only"
                  >Wikipedia link for {{circuit.name}}</span
                ></i
              >
            </a>
          </td>
          <td>Placeholder</td>
        </tr>
        {% endif %}{% endfor %}{% endfor %}
      </tbody>
    </table>
  </div>
  <div id="test2" class="col s12">
    <table class="striped centered" id="constructorTable">
      <thead>
        <tr>
          <th>Constructor Name</th>
          <th>View Page</th>
          <th>View Wikipedia Article</th>
          <th>Remove From Favourites</th>
        </tr>
      </thead>
      <tbody>
        {% for i in test %}{% for constructor in constructors %}{% if
        constructor._id == i.constructorId and username == i.username %}
        <tr>
          <td>{{constructor.name}}</td>
          <td>
            <a
              href="{{ url_for('view_constructor', constructor_id=constructor._id) }}"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              >View</a
            >
          </td>
          <td>
            <a
              target="_blank"
              type="button"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              href="{{ constructor.url }}"
            >
              <i class="fa-brands fa-wikipedia-w"
                ><span class="sr-only"
                  >Wikipedia link for {{constructor.name}}</span
                ></i
              >
            </a>
          </td>
          <td>Placeholder</td>
        </tr>
        {% endif %}{% endfor %}{% endfor %}
      </tbody>
    </table>
  </div>
  <div id="test3" class="col s12">
    <table class="striped centered" id="driverTable">
      <thead>
        <tr>
          <th>Driver Name</th>
          <th>View Page</th>
          <th>View Wikipedia Article</th>
          <th>Remove From Favourites</th>
        </tr>
      </thead>
      <tbody>
        {% for i in test %}{% for driver in drivers %}{% if driver._id ==
        i.driverId and username == i.username %}
        <tr>
          <td>{{driver.forename}} {{driver.surname}}</td>
          <td>
            <a
              href="{{ url_for('view_driver', driver_id=driver._id) }}"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              >View</a
            >
          </td>
          <td>
            <a
              target="_blank"
              type="button"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              href="{{ driver.url }}"
            >
              <i class="fa-brands fa-wikipedia-w"
                ><span class="sr-only"
                  >Wikipedia link for {{driver.forename}}
                  {{driver.surname}}</span
                ></i
              >
            </a>
          </td>
          <td>Placeholder</td>
        </tr>
        {% endif %}{% endfor %}{% endfor %}
      </tbody>
    </table>
  </div>
  <div id="test4" class="col s12">
    <table class="striped centered" id="raceTable">
      <thead>
        <tr>
          <th>Race Name</th>
          <th>View Page</th>
          <th>View Wikipedia Article</th>
          <th>Remove From Favourites</th>
        </tr>
      </thead>
      <tbody>
        {% for i in test %}{% for race in races %}{% if race._id == i.raceId and
        username == i.username %}
        <tr>
          <td>{{race.year}} {{race.name}}</td>
          <td>
            <a
              href="{{ url_for('view_race', race_id=race._id) }}"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              >View</a
            >
          </td>
          <td>
            <a
              target="_blank"
              type="button"
              class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
              href="{{ race.url }}"
            >
              <i class="fa-brands fa-wikipedia-w"
                ><span class="sr-only"
                  >Wikipedia link for {{race.year}} {{race.name}}</span
                ></i
              >
            </a>
          </td>
          <td>Placeholder</td>
        </tr>
        {% endif %}{% endfor %}{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
