@media only screen and (max-width: 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 600px) {

  .icon {
    margin: 0 !important;
  }

  .icon-block {
    margin-top: 20px;
    padding: 10px;
  }
}

body {
  background-color: #000022;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.wrapper {
  background-color: #fff;
}

.brand-logo {
  margin-left: 1vw;
}

hr {
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}

.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

.indicator {
  height: 5px !important;
  background-color: #eb000a !important;
}

.inner_card,
.edit_driver_row,
.top_row_spacer,
.viewButton {
  margin-top: 2vh;
}

.card-panel {
  padding: 15px !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

main nav {
  background-color: #b71c1c !important;
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  z-index: 2;
}

.container {
  max-width: 90% !important;
  width: 90% !important;
}

.pagination li.active {
  background-color: #b71c1c !important;
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  border-bottom: 3px solid #fff !important;
  padding-bottom: 45px;
}

.pagination li a {
  color: #fff !important;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: -1;
}

nav {
  z-index: 1;
}

#page-not-found {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 50px;
}

/* Style the video: 100% width and height to cover the entire window */
#video-background {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.home {
  margin: 0 !important;
}

#title {
  background: rgba(97, 97, 97, 0.712);
  padding-top: 1px;
  border-radius: 50px;
}

.icon-block {
  margin-top: 30px;
  padding: 15px;
  background: rgba(97, 97, 97, 0.712);
  border-radius: 50px;
}

.header,
.icon {
  font-size: clamp(2.25rem, 0.0625rem + 7vw, 4rem);
}

.slogan {
  font-size: clamp(1.5rem, 0.5625rem + 3vw, 2.25rem);
  margin-bottom: 0 !important;
}

@media (max-width: 600px) {
  .content {
    height: 100%;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 100% !important;
    width: 100% !important;
  }

  #loading {
    width: 100% !important;
  }
}

@media (max-width: 1577px) {
  .admin-card {
    min-width: 180px;
    max-width: 200px;
    height: 211.55px;
  }

  .admin-content {
    max-width: 200px;
    height: 120px;
  }
}


.pageHeader {
  height: 64px;
  background-color: #b71c1c !important;
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  border-bottom: 3px solid #fff !important;
  padding-bottom: 45px;
  position: sticky;
  left: 0;
}

.displayName {
  margin-top: 0 !important;
  padding-top: 10px;
}

h4 {
  margin: 0 0 0 0 !important;
  padding: 10px;
}

footer {
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
}

.remove-bottom-margin {
  margin-bottom: 0px !important;
}

.dataTables_filter,
#contentTable_length,
#contentTable_paginate,
#contentTable_info {
  padding: 10px !important;
}

.dataTables_filter input {
  height: 20px !important;
}

.contentTable {
  height: 20px !important;
}

#contentTable_info,
.dataTables_filter {
  margin-top: 10px !important;
}

#deleteAccount:hover {
  background-color: #b71c1c !important;
}

#loading {
  position: fixed;
  width: 90%;
  height: 100%;
  background: #fff no-repeat center center;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.preloader-wrapper {
  margin: auto;
}

.google-maps {
  width: 25px;
  height: 3vh;
  vertical-align: middle;
}

/* https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

label {
  color: #000000;
}

.table-links {
  width: 150px;
}

#driver_image,
#constructor_image {
  width: 100%;
}


.odd {
  background-color: #b7b7b7 !important;
}

.sorting_1 {
  background-color: #f1f1f175 !important;
}

/*
https://codepen.io/kocsten/pen/rggjXp
*/
.glow-on-hover {
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.circuitLink,
.winner,
.driverLink,
.constructorLink {
  color: #000;
}

.f1Link {
  color: #fff;
}

.circuitLink:hover,
.winner:hover,
.driverLink:hover,
.constructorLink:hover,
.f1Link:hover {
  text-underline-offset: 5px;
  text-decoration: underline orange 2px;
}



table.striped>tbody>tr:nth-child(odd) {
  background-color: #b7b7b7 !important;
}

.btn,
.btn-large {
  border: black 1px solid
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.5);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
}

#topButton,
#bottomButton {
  margin: 10px 0;
}

.wrapper {
  overflow: auto;
}