@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.brand-logo {
  margin-left: 1vw;
}

hr {
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

.indicator {
  height: 5px !important;
  background-color: #eb000a !important;
}

.inner_card {
  margin-top: 2vh;
}

.card-panel {
  padding: 15px !important;
}

.fa-solid,
.fa-regular,
.fa-brands {
  padding-right: 5px !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

main nav {
  background-color: #b71c1c !important;
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  z-index: 2;
}

.container {
  max-width: 90% !important;
  width: 90% !important;
}

.pagination li.active {
  background-color: #b71c1c !important;
  -webkit-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 15px 5px -5px rgba(50, 50, 50, 0.75);
  border-bottom: 3px solid #fff !important;
  padding-bottom: 45px;
}

.pagination li a {
  color: #fff !important;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: inherit;
  margin-top: -0.5rem;
  z-index: -1;
  position: relative;
}

nav {
  z-index: 1;
}

#page-not-found {
  position: absolute;
  top: 108px;
  left: 50px;
  font-size: 50px;
}

/* Style the video: 100% width and height to cover the entire window */
#video-background {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.home {
  margin: 0 !important;
}

#title {
  background: rgba(97, 97, 97, 0.712);
  padding-top: 1px;
  border-radius: 50px;
}

.icon-block {
  margin-top: 30px;
  padding: 15px;
  background: rgba(97, 97, 97, 0.712);
  border-radius: 50px;
}

.header,
.icon {
  font-size: clamp(2.25rem, 0.0625rem + 7vw, 4rem);
}

.slogan {
  font-size: clamp(1.5rem, 0.5625rem + 3vw, 2.25rem);
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .content {
    height: 100%;
  }
}
