@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.brand-logo {
  margin-left: 1vw;
}

hr {
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  background-color: #fff;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

.indicator {
  height: 5px !important;
  background-color: #eb000a !important;
}

.inner_card {
  margin-top: 2vh;
}

.card-panel {
  padding: 15px !important;
}

.fa-solid,
.fa-regular,
.fa-brands {
  padding-right: 5px !important;
}

.pagination {
  display: flex;
  justify-content: center;
}

.nav {
  background-color: #b71c1c !important;
}
