
{% extends "base.html" %}{% block title %}F1 Statistics | Add Constructor{% endblock %} {% block content %}
<div class="pageHeader">
    <h4 class="center-align displayName white-text text-shadow">
      Add Constructor
    </h4>
  </div>
  <div class="center-align">
    <a
      href="{{ url_for('dashboard') }}"
      class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
      >Back to Dashboard</a
    >
  </div>
  <div class="row remove-bottom-margin">
    <form class="col s12" method="POST" action="{{ url_for('add_constructor') }}">
      <div class="row top_row_spacer">
        <div class="input-field col col s2 offset-s5">
          <input id="constructorId" name="constructorId" type="text" value="{{constructors.constructorId + 1}}" class="validate" required readonly>
          <label for="constructorId">Constructor ID (This Field Is Read Only)</label>
        </div>
        </div>
      <div class="row">
        <div class="input-field col col s4 offset-s2">
          <input id="constructorRef" name="constructorRef" type="text" value="" class="validate" required>
          <label for="constructorRef">Constructor Ref</label>
        </div>
        <div class="input-field col col s4">
            <input id="constructorName" name="constructorName" type="text" value="" class="validate" required>
            <label for="constructorName">Constructor Name</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col col s4 offset-s2">
            <select id="nationality" name="nationality" class="icons" required>
                <option value="Please select a nationality" selected disabled>Please select a nationality</option>
                {% for country in countries %}
                <option value="{{country.nationality}}" data-icon="../static/svg/{{(country.code).lower()}}.svg" class="left">{{ country.nationality }}</option>
                {% endfor %}
              </select>
          <label for="location">Nationality</label>
        </div>
        <div class="input-field col s4 ">
          <input id="url" name="url" type="text" value="" class="materialize-textarea"></input>
          <label for="url">Wikipedia Link</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a href="{{url_for('dashboard')}}" class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
            Cancel <i class="fas fa-times-circle right"></i>
          </a>
          <button type="submit" class="grey lighten-3 btn-large z-depth-2 black-text glow-on-hover">
            Submit Changes <i class="fas fa-edit right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}