{% extends "base.html" %}{% block title %}F1 Statistics | Admin Dashboard {%
endblock %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-blue-text text-darken-4">
        Admin Dashboard
      </h3>
    </div>
  </div>
</div>

<div class="row remove-bottom-margin">
  <div class="col s12 m2 offset-m1">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Add Circuit</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('add_circuit') }}" class="btn light-blue lighten-1"
          >Add</a
        >
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Add Constructor</span>
      </div>
      <div class="card-action">
        <a
          href="{{ url_for('add_constructor') }}"
          class="btn light-blue lighten-1"
          >Add</a
        >
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Add Driver</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('add_driver') }}" class="btn light-blue lighten-1"
          >Add</a
        >
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Add Race</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('add_race') }}" class="btn light-blue lighten-1"
          >Add</a
        >
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Add Season</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('add_season') }}" class="btn light-blue lighten-1"
          >Add</a
        >
      </div>
    </div>
  </div>
</div>
<div class="row remove-bottom-margin">
  <div class="col s12 m2 offset-m5">
    <div class="card light-blue darken-4 text-shadow center-align admin-card">
      <div class="card-content white-text admin-content">
        <span class="card-title">Manage Users</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('manage_users') }}" class="btn green accent-4"
          >Manage</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
