{% extends "base.html" %} {% block content %}
<div class="center-align">
  <div class="pageHeader">
    <h4 class="center-align displayName white-text text-shadow">
      Editing {{ races.year}} {{ races.name }}
    </h4>
  </div>

  <a
    href="{{ url_for('view_race', race_id=races._id) }}"
    class="btn green accent-4"
    >View Race</a
  >
</div>

<div class="row remove-bottom-margin">
  <div class="col s12 center-align">
    <ul class="tabs">
      <li class="tab col s6 grey darken-1 z-depth-5">
        <a href="#qualifying" class="white-text quali">Qualifying Results</a>
      </li>
      <li class="tab col s6 grey darken-1 z-depth-5">
        <a href="#race" class="white-text race">Race Results</a>
      </li>
    </ul>
  </div>

  <!--  -->
  <!-- Start of Qualifying Results -->
  <!--  -->

  <div id="qualifying" class="col s12">
    <form method="post" action="{{ url_for('edit_race', race_id=races._id) }}">
      <table class="striped centered">
        <thead>
          <tr>
            <th>Position</th>
            <th>Driver Forename</th>
            <th>Driver Surname</th>
            <th class="hide">Driver ID</th>
            <th>Select Driver</th>
            <th>Constructor</th>
            <th class="hide">Constructor ID</th>
            <th>Select Constructor</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
          </tr>
        </thead>

        <tbody>
          {% if qualifying | length > 0 %} {% for quali in qualifying %}
          <tr>
            <td>{{quali.position}}.</td>
            <td>
              {% for driver in drivers %} {% if quali.driverId ==
              driver.driverId %}
              <input
                placeholder="Driver"
                id="driver_forename_pos_quali_{{quali.position | int - 1}}"
                type="text"
                value="{{driver.forename }}"
                class="center-align validate"
              />
            </td>
            <td>
              <input
                placeholder="Driver"
                id="driver_surname_pos_quali_{{quali.position | int - 1}}"
                type="text"
                value="{{driver.surname }}"
                class="center-align validate"
              />
            </td>
            <td class="hide">
              <input
                placeholder="Driver ID"
                id="driver_id_pos_quali_{{quali.position | int - 1}}"
                type="text"
                value="{{driver.driverId }}"
                class="center-align validate"
              />
            </td>
            {% endif %} {% endfor %}
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="driver_select_pos_quali_{{quali.position | int - 1}}"
                href="#driverModal"
                >Select</a
              >
            </td>
            <td>
              {% for constructor in constructors %} {% if quali.constructorId ==
              constructor.constructorId %}
              <input
                placeholder="Constructor"
                id="constructor_pos_quali_{{quali.position | int - 1}}"
                value="{{constructor.name}}"
                type="text"
                class="center-align validate"
              />

            </td>
            <td class="hide">
              <input
                placeholder="Constructor ID"
                id="constructor_id_quali_pos_{{quali.position | int - 1}}"
                type="text"
                value="{{constructor.constructorId }}"
                class="center-align validate"
              />
            </td>
            {% endif %} {% endfor %}
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="constructor_select_pos_quali_{{quali.position | int - 1}}"
                href="#constructorModal"
                >Select</a
              >
            </td>

            <td>
              <input
                placeholder="Q1 Time"
                id="q1_pos_{{quali.position | int - 1}}"
                type="text"
                value="{{quali.q1}}"
                class="center-align validate"
              />
            </td>
            <td>
              <input
                placeholder="Q2 Time"
                id="q2_pos_{{quali.position | int - 1}}"
                type="text"
                value="{{quali.q2}}"
                class="center-align validate"
              />
            </td>
            <td>
              <input
                placeholder="Q3 Time"
                id="q3_pos_{{quali.position | int - 1}}"
                type="text"
                value="{{quali.q3}}"
                class="center-align validate"
              />
            </td>
          </tr>
          {% endfor %} {% else %} {% for n in range(20) %}
          <tr>
            <td>{{n + 1}}.</td>
            <td>
              <input
                placeholder="Driver Forename"
                id="driver_forename_pos_quali_{{n}}"
                type="text"
                class="center-align validate"
                readonly
              />
            </td>
            <td>
              <input
                placeholder="Driver Surname"
                id="driver_surname_pos_quali_{{n}}"
                type="text"
                class="center-align validate"
                readonly
              />
            </td>
            <td class="hide">
              <input
                placeholder="Driver ID"
                id="driver_id_pos_quali_{{n}}"
                type="text"
                class="center-align validate"
              />
            </td>
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="driver_select_pos_quali_{{n}}"
                href="#driverModal"
                >Select</a
              >
            </td>
            <td>
              <input
                placeholder="Constructor"
                id="constructor_quali_pos_{{n}}"
                type="text"
                class="center-align validate"
                readonly
              />
            </td>
            <td class="hide">
              <input
                placeholder="Constructor ID"
                id="constructor_id_quali_pos_{{n}}"
                type="text"
                class="center-align validate"
              />
            </td>
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="constructor_select_pos_quali_{{n}}"
                href="#constructorModal"
                >Select</a
              >
            </td>

            <td>
              <input
                placeholder="Q1 Time"
                id="q1_pos_{{n}}"
                type="text"
                class="center-align validate"
              />
            </td>
            {% if n > 14 %}
            {% else %}
            <td>
              <input
                placeholder="Q2 Time"
                id="q2_pos_{{n}}"
                type="text"
                class="center-align validate"
              />
            </td>
            {% endif %}
            {% if n > 9 %}
            {% else %}
            <td>
              <input
                placeholder="Q3 Time"
                id="q3_pos_{{n}}"
                type="text"
                class="center-align validate"
              />
            </td>
            {% endif %}
          </tr>
          {% endfor %}  {% endif %}
        </tbody>
      </table>
      <div class="center-align">
        <button
        type="submit"
        class="col s12 btn-large red darken-4 text-shadow"
      >
        Submit Changes
      </button>
      </div>
    </form>
  </div>

  <!--  -->
  <!-- Start of Race Results -->
  <!--  -->

  <div id="race" class="col s12">
    <form>
      <table class="striped centered">
        <thead>
          <tr>
            <th>Position</th>
            <th>Driver Forename</th>
            <th>Driver Surname</th>
            <th>Select Driver</th>
            <th>Constructor</th>
            <th>Select Constructor</th>
            <th>Points</th>
            <th>Laps</th>
            <th>Status</th>
            <th>Fastest Lap</th>
          </tr>
        </thead>

        <tbody>
          {% if results | length > 0 %}
          <tr>
            {% for result in results %}
            <td>{{result.position}}.</td>
            <td>
              {% for driver in drivers %} {% if result.driverId ==
              driver.driverId %}
              <input
                placeholder="Driver"
                id="driver_forename_pos_race_{{result.position| int -1}}"
                type="text"
                value="{{driver.forename }}"
                class="center-align validate"
                readonly
              />
              {% endif %} {% endfor %}
            </td>
            <td>
              {% for driver in drivers %} {% if result.driverId ==
              driver.driverId %}
              <input
                placeholder="Driver"
                id="driver_surname_pos_race_{{result.position| int -1}}"
                type="text"
                value=" {{driver.surname }}"
                class="center-align validate"
                readonly
              />
              {% endif %} {% endfor %}
            </td>
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="driver_select_pos_{{result.position| int -1}}"
                href="#driverModal"
                >Select</a
              >
            </td>
            <td>
              {% for constructor in constructors %} {% if result.constructorId
              == constructor.constructorId %}
              <input
                placeholder="Constructor"
                id="constructor_race_pos_{{result.position| int -1}}"
                value="{{constructor.name}}"
                type="text"
                class="center-align validate"
                readonly
              />
              {% endif %} {% endfor %}
            </td>
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="driver_select_pos_race_{{result.position| int -1}}"
                href="#constructorModal"
                >Select</a
              >
            </td>

            <td>
              {% for driver in driver_standings %} {% if result.driverId ==
              driver.driverId %}
              <input
                placeholder="Points"
                id="points_pos_race_{{result.position| int -1}}"
                type="text"
                value="{{driver.points}}"
                class="center-align validate"
              />
              {% endif %} {% endfor %}
            </td>
            <td>
              {% for driver in driver_standings %} {% if result.driverId ==
              driver.driverId %}
              <input
                placeholder="Laps"
                id="laps_pos_race_{{result.position| int -1}}"
                type="text"
                value="{{result.laps}}"
                class="center-align validate"
              />
              {% endif %} {% endfor %}
            </td>
            <td>
              <select>
                <option value="" disabled selected>Select Status</option>
                {% for status in statuses %}
                <option value="{{status.status}}" class="left">
                  {{status.status}}
                </option>
                {% endfor %}
              </select>
            </td>
            <td>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </td>
          </tr>
          {% endfor %} {% else %} {% for n in range(20) %}
          <tr>
            <td>{{n+1}}.</td>
            <td>
              <input
                placeholder="Driver"
                id="driver_forename_pos_race_{{n}}"
                type="text"
                value=""
                class="center-align validate"
              />
            </td>
            <td>
              <input
                placeholder="Driver"
                id="driver_surname_pos_race_{{n}}"
                type="text"
                value=""
                class="center-align validate"
              />
            </td>
            <td>
              <a
                class="waves-effect waves-light btn modal-trigger select"
                id="driver_select_pos_race_{{n}}"
                href="#driverModal"
                >Select</a
              >
            </td>
            <td>
              <input
                placeholder="Constructor"
                id="constructor_race_pos_{{n}}"
                value=""
                type="text"
                class="center-align validate"
              />
            </td>
            <td>
              <a
              class="waves-effect waves-light btn modal-trigger select"
              id="driver_select_pos_race_{{n}}"
              href="#constructorModal"
              >Select</a
            >
            </td>

            <td>
              <input
                placeholder="Points"
                id="points_pos_race_{{n}}"
                type="text"
                value=""
                class="center-align validate"
              />
            </td>
            <td>
              <input
                placeholder="Laps"
                id="laps_pos_race_{{n}}"
                type="text"
                value=""
                class="center-align validate"
              />
            </td>
            <td>
              <select>
                <option value="" disabled selected>Select Status</option>
                {% for status in statuses %}
                <option value="{{status.status}}" class="left">
                  {{status.status}}
                </option>
                {% endfor %}
              </select>
            </td>
            <td>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
      <div class="center-align">
        <a href="" class="btn green accent-4 center-align">Submit Changes</a>
      </div>
    </form>
  </div>
</div>

<div id="driverModal" class="modal modal-fixed-footer">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="driverSearch" type="search" required>
          <label class="label-icon" for="driverSearch"><i class="fa-solid fa-magnifying-glass"></i></label>
          <i class="fa-solid fa-xmark">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div class="modal-content">
    <table class="striped centered">
      <thead>
        <tr>
          <th>Forename</th>
          <th>Surname</th>
          <th>Driver ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="list">
        {% for driver in drivers %}
        <tr>
          <td>{{ driver.forename }}</td>
          <td>{{ driver.surname }}</td>
          <td>{{ driver.driverId }}</td>
          <td>
            <a
              class="btn green accent-4 driverSelect modal-close"
              >Select</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

<div id="constructorModal" class="modal modal-fixed-footer">
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="constructorSearch" type="search" required>
          <label class="label-icon" for="constructorSearch"><i class="fa-solid fa-magnifying-glass"></i></label>
          <i class="fa-solid fa-xmark">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div class="modal-content">
    <table class="striped centered list">
      <tbody>
        {% for constructor in constructors %}
        <tr>
          <td>{{ constructor.name }} 
          </td>
          <td>{{ constructor.constructorId  }} </td>
          <td>
            <a
              class="btn green accent-4 constructorSelect modal-close"
              >Select</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>

  {% endblock %}
</div>
