{% extends "base.html" %} {% block content %}
<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Circuit Name</th>
      <th>Location</th>
      <th>Country</th>
      <th>Google Maps</th>
      <th>Wikipedia</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for circuit in circuits %}
    <tr>
      <td>{{ circuit.name }}</td>
      <td>{{ circuit.location }}</td>
      <td>{{ circuit.country }}</td>
      <td>
        <a
          target="_blank"
          class="waves-effect waves-light btn"
          href="https://www.google.com/maps/search/{{ circuit.lat }},{{ circuit.lng }}"
          ><i class="fa-solid fa-map-location-dot"></i>View on Map</a></a
        >
      </td>
      <td><a class="waves-effect waves-light btn" target="_blank" href="{{ circuit.url }}"><i class="fa-brands fa-wikipedia-w"></i>View Article</a></td>
      <td><a href="{{ url_for('view_circuit', circuit_id=circuit._id) }}" class="btn green accent-4">Races at this Circuit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
