{% extends "base.html" %} {% block content %}

<table class="striped centered display" id="contentTable">
  <thead>
    <tr>
      <th>Circuit Name</th>
      <th>Location</th>
      <th>Country</th>
      <th>Google Maps<br />(Opens in a new tab)</th>
      <th>Wikipedia<br />(Opens in a new tab)</th>
      <th>Races At This Circuit</th>
    </tr>
  </thead>
  <tbody>
    {% for circuit in circuits %}
    <tr>
      <td>{{ circuit.name }}</td>
      <td>{{ circuit.location }}</td>
      <td>{{ circuit.country }}</td>
      <td>
        <a
          target="_blank"
          type="button"
          class="grey lighten-3 btn z-depth-2 black-text"
          href="https://www.google.com/maps/search/{{ circuit.lat }},{{ circuit.lng }}"
        >
          <img
            src="{{ url_for('static', filename='svg/Google_Maps_icon.svg') }}"
            alt="Google Maps link for {{ circuit.name }}"
            class="google-maps"
          />
        </a>
      </td>
      <td>
        <a
          target="_blank"
          type="button"
          class="grey lighten-3 btn z-depth-2 black-text"
          href="{{ circuit.url }}"
        >
          <i class="fa-brands fa-wikipedia-w"
            ><span class="sr-only">Wikipedia link for {{circuit.name}}</span></i
          >
        </a>
      </td>
      <td>
        <a
          href="{{ url_for('view_circuit', circuit_id=circuit._id) }}"
          class="btn red darken-4"
          >View</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
