{% extends "base.html" %} {% block content %}

<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th>Code</th>
      <th>Number</th>
      <th>Date of Birth</th>
      <th>Nationality</th>
      <th>Wikipedia</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for driver in drivers %}
    <tr>
      <td>{{ driver.forename }}</td>
      <td>{{ driver.surname }}</td>
      <td>{{ driver.code }}</td>
      <td>{{ driver.number }}</td>
      <td>{{ driver.dob }}</td>
      <td>{{ driver.nationality }}</td>
      <td><a target="_blank" href="{{ driver.url }}">{{ driver.forename }} {{ driver.surname }}</a></td>
      <td><a href="{{ url_for('edit_drivers', driver_id=driver._id) }}" class="btn green accent-4">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
