{% extends "base.html" %} {% block content %}

<table class="striped centered">
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <thead>
    <tr>
      <th>#</th>
      <th>Forename</th>
      <th>Surname</th>
      <th>Code</th>
      <th>Number</th>
      <th>Date of Birth</th>
      <th>Nationality</th>
      <th>Wikipedia</th>
    </tr>
  </thead>
  <tbody>
    {% for driver in drivers %}
    <tr>
      <td>{{ loop.index + pagination.skip }}</td>
      <td>{{ driver.forename }}</td>
      <td>{{ driver.surname }}</td>
      <td>{{ driver.code }}</td>
      <td>{{ driver.number }}</td>
      <td>{{ driver.dob }}</td>
      <td>{{ driver.nationality }}</td>
      <td><a class="waves-effect waves-light btn" target="_blank" href="{{ driver.url }}"><i class="fa-brands fa-wikipedia-w"></i>View Article</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
