{% extends "base.html" %}{% block title %}F1 Statistics | Home{% endblock %} {%
block content %}
<style type="text/css">
  footer {
    display: none;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>

<div class="content center-align">
  <div class="container" id="title">
    <h1 class="header center">Welcome to F1 Statistics</h1>
    <div class="slogan row center">
      <h2 class="slogan headerSlogan col s12 light">
        Your one-stop-shop for F1 Data.
      </h2>
    </div>
    <br /><br />
  </div>

  <div class="row iconRow">
    <div class="col s12 m4 iconCol">
      <div class="icon-block">
        <h3 class="center icon light-blue-text">
          <i class="fa-solid fa-database fa-flip" style="--fa-animation-duration: 3s"></i> <span
            class="white-text iconText">All
            the info!</span>
        </h3>
        <h4 class="light iconText">Data for every driver, race and season!</h4>
      </div>
    </div>

    <div class="col s12 m4 iconCol ">
      <div class="icon-block">
        <h3 class="center icon light-blue-text">
          <i class="fa-solid fa-heart fa-beat"></i> <span class="white-text iconText">Favourites!</span>
        </h3>
        <h4 class="light iconText">Add data to your favourites for access later!</h4>
      </div>
    </div>

    <div class="col s12 m4 iconCol">
      <div class="icon-block">
        <h3 class="center icon light-blue-text">
          <i class="fa-solid fa-flag-checkered fa-fade" style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6"></i>
          <span class="white-text iconText">Up to date!</span>
        </h3>
        <h4 class="light iconText">Data is updated soon after every session!</h4>
      </div>
    </div>
    <br /><br />
  </div>
</div>

<!--   Icon Section   -->

{% endblock %}