{% extends "base.html" %} {% block content %}
<style type="text/css">
  @media (min-width: 768px) {
    html,
    body {
      overflow: hidden;
    }
  }
  footer {
    display: none;
  }
</style>

<div class="content center-align">
  <div class="container" id="title">
    <h1 class="header center">Welcome to F1 Statistics</h1>
    <div class="slogan row center">
      <h5 class="slogan col s12 light">
        Slogan goes here - Note to self: Think of something clever.
      </h5>
    </div>
    <br /><br />
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <p class="center icon light-blue-text">
          <i
            class="fa-solid fa-database fa-flip"
            style="--fa-animation-duration: 3s"
          ></i>
        </p>
        <h5 class="center">Placeholder</h5>

        <p class="light">Placeholder</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <p class="center icon light-blue-text">
          <i class="fa-solid fa-heart fa-beat"></i>
        </p>
        <h5 class="center">Placeholder</h5>

        <p class="light">Placeholder</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <p class="center icon light-blue-text">
          <i
            class="fa-solid fa-flag-checkered fa-fade"
            style="--fa-animation-duration: 2s; --fa-fade-opacity: 0.6"
          ></i>
        </p>
        <h5 class="center">Placeholder</h5>

        <p class="light">Placeholder</p>
      </div>
    </div>
    <br /><br />
  </div>
</div>

<!--   Icon Section   -->

{% endblock %}
