{% extends "base.html" %} {% block content %}
<table class="striped centered display" id="contentTable">
  <thead>
    <tr>
      <th>Race Name</th>
      <th>Date</th>
      <th>Circuit</th>
      <th>Season</th>
      <th>Wikipedia</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for race in races %}
    <tr>
      <td>{{ race.name }}</td>
      <td>{{ race.date }}</td>
      <td>
        {% for circuit in circuits %} {% if race.circuitId == circuit.circuitId
        %}
        <a href="{{ url_for('view_circuit', circuit_id=circuit._id) }}"
          >{{circuit.name}}</a
        >
        {% endif %} {% endfor %}
      </td>
      <td>{{race.year}}</td>
      <td>
        <a
          class="waves-effect waves-light btn"
          target="_blank"
          href="{{ race.url }}"
          ><i class="fa-brands fa-wikipedia-w"></i>View Article</a
        >
      </td>
      <td>
        <a
          href="{{ url_for('view_race', race_id=race._id) }}"
          class="btn green accent-4"
          >View Race</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
