{% extends "base.html" %} {% block content %}
<div class="pageHeader">
  <h4 class="center-align displayName white-text text-shadow">
    Races
  </h4>
</div>
<table class="striped centered display" id="contentTable">
  <thead>
    <tr>
      <th>Race Name</th>
      <th>Date</th>
      <th>Circuit</th>
      <th>Season</th>
      <th class="table-links">Wikipedia Article<br /> (Opens in a new tab)</th>
      <th>View Race</th>
    </tr>
  </thead>
  <tbody>
    {% for race in races %}
    <tr>
      <td>{{ race.name }}</td>
      <td>{{ race.date }}</td>
      <td>
        {% for circuit in circuits %} {% if race.circuitId == circuit.circuitId
        %}
        <a class="circuitLink" href="{{ url_for('view_circuit', circuit_id=circuit._id) }}"
          >{{circuit.name}}</a
        >
        {% endif %} {% endfor %}
      </td>
      <td>{{race.year}}</td>
      <td>
        <a
          target="_blank"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          href="{{ race.url }}"
        >
          <i class="fa-brands fa-wikipedia-w"
            ><span class="sr-only">Wikipedia link for {{race.name}}</span></i
          >
      </td>
      <td>
        <a
          href="{{ url_for('view_race', race_id=race._id) }}"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover"
          >View</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
