{% extends "base.html" %} {% block title %}F1 Statistics | Seasons{% endblock %}{% block content %}
<div class="pageHeader">
  <h1 class="center-align pageName white-text text-shadow slogan">
    Seasons
  </h1>
</div>
<table class="striped centered display" id="contentTable">
  <thead>
    <tr>
      <th>Year</th>
      <th>No of Races</th>
      <th class="table-links">Wikipedia Article<br /> (Opens in a new tab)</th>
      <th>View Season</th>
    </tr>
  </thead>
  <tbody>
    {% for season in seasons %}
    <tr>
      <td>{{ season.year }}</td>
      <td>{{ season.no_of_races }}</td>
      <td>
        <a target="_blank" class="grey lighten-3 btn z-depth-2 black-text glow-on-hover" href="{{ season.url }}">
          <i class="fa-brands fa-wikipedia-w"><span class="sr-only">Wikipedia link for {{ season.year }} Formula One
              Season</span></i></a>
      </td>
      <td>
        <a href="{{ url_for('view_season', season_id=season._id) }}"
          class="grey lighten-3 btn z-depth-2 black-text glow-on-hover">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}