{% extends "base.html" %} {% block content %}
<table class="striped centered responsive-table">
  <thead>
    <tr>
      <th>Year</th>
      <th>No of Races</th>
      <th>Wikipedia</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for season in seasons %}
    <tr>
      <td>{{ season.year }}</td>
      <td>{{ season.no_of_races }}</td>
      <td><a class="waves-effect waves-light btn" target="_blank" href="{{ season.url }}"><i class="fa-brands fa-wikipedia-w"></i>View Article</a></td>
      <td><td><a href="{{ url_for('view_season', season_id=season._id) }}" class="btn green accent-4">View Season</a></td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
