{% extends "base.html" %} {% block content %}

<div class="center-align">
<h3 class="light-blue-text text-darken-4 ">{{ races.year}} {{ races.name }}</h3>
<h4 class="light-blue-text text-darken-4 ">Round {{ races.round}} - {{ races.date }}</h4>
{% for season in seasons %}
  {% if season.year == races.year %}
    <a href="{{ url_for('view_season', season_id=season._id) }}" class="btn green accent-4">View Season</a>
  {% endif %}
{% endfor %}
</div>
<div class="row">
  <div class="row">
    <div class="col s4 m4">
      <div class="card-panel center-align orange lighten-3">
        <span>
          {% for circuit in circuits %}
            {% if circuit.circuitId == races.circuitId %}
              <b>Circuit:</b> {{circuit.name}}
            {% endif %} 
        {% endfor %}
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        {% for circuit in circuits %}
        {% if circuit.circuitId == races.circuitId %}
          <b>Location:</b> {{circuit.location}}
        {% endif %} 
      {% endfor %}
    </span>
  </div>
</div>
<div class="col s4 m4">
  <div class="card-panel center-align orange lighten-3">
    <span>
      {% for circuit in circuits %}
      {% if circuit.circuitId == races.circuitId %}
        <b>Country:</b> {{circuit.country}}
      {% endif %} 
    {% endfor %}
  </span>
</div>
</div>
</div>
          
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="fa-solid fa-stopwatch"></i>Qualifying Results</div>
    <div class="collapsible-body">
      <table class="striped centered responsive-table">
        <thead>
          <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Constructor</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
          </tr>
        </thead>
        <tbody>
        
          {% for quali in qualifying | selectattr('raceId', 'equalto', races.raceId) %}
          <tr>
            <td>{{ quali.position }}</td>
            <td>
              {% for driver in drivers %}
                {% if quali.driverId == driver.driverId %}
                  {{driver.forename}} {{driver.surname}}
                {% endif %} 
              {% endfor %}
            </td>
            <td>
              {% for constructor in constructors %}
                {% if quali.constructorId == constructor.constructorId %}
                  {{constructor.name}}
                {% endif %} 
              {% endfor %}
            </td>
            <td>{{ quali.q1 }}</td>
            <td>{{ quali.q2 }}</td>
            <td>{{ quali.q3 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa-solid fa-flag-checkered"></i>Race Results</div>
    <div class="collapsible-body"><table class="striped centered responsive-table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Points</th>
          <th>Laps</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      
        {% for result in results | selectattr('raceId', 'equalto', races.raceId) %}
        <tr>
          <td>{{ result.position }}</td>
          <td>
            {% for driver in drivers %}
              {% if result.driverId == driver.driverId %}
                {{driver.forename}} {{driver.surname}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>
            {% for constructor in constructors %}
              {% if result.constructorId == constructor.constructorId %}
                {{constructor.name}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ result.points }}</td>
          <td>{{ result.laps }}</td>
          <td>
          {% for status in statuses %}
            {% if result.statusId == status.statusId %}
              {{status.status}}
            {% endif %} 
          {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa-solid fa-ranking-star"></i>Driver Standings</div>
    <div class="collapsible-body"><table class="striped centered responsive-table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Wins</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>

        {% for standing in driver_standings | selectattr('raceId', 'equalto', races.raceId) %}
        <tr>
          <td>{{ standing.position }}</td>
          <td>
            {% for driver in drivers %}
              {% if standing.driverId == driver.driverId %}
                {{driver.forename}} {{driver.surname}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa-solid fa-people-group"></i>Constructor Standings</div>
    <div class="collapsible-body"><table class="striped centered responsive-table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Constructor</th>
          <th>Wins</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>

        {% for standing in constructor_standings | selectattr('raceId', 'equalto', races.raceId) %}
        <tr>
          <td>{{ standing.position }}</td>
          <td>
            {% for constructor in constructors %}
              {% if standing.constructorId == constructor.constructorId %}
                {{constructor.name}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table></div>
  </li>
</ul>
      
{% endblock %}
