{% extends "base.html" %} {% block content %}

<div class="center-align">
<h3 class="light-blue-text text-darken-4 ">{{ races.year}} {{ races.name }}</h3>
<h4 class="light-blue-text text-darken-4 ">Round {{ races.round}} - {{ races.date }}</h4>
{% for season in seasons %}
  {% if season.year == races.year %}
    <a href="{{ url_for('view_season', season_id=season._id) }}" class="btn green accent-4">View Season</a>
  {% endif %}
{% endfor %}
</div>
<div class="row">
  <div class="row">
    <div class="col s4 m4">
      <div class="card-panel center-align orange lighten-3">
        <span>
          {% for circuit in circuits %}
            {% if circuit.circuitId == races.circuitId %}
              <b>Circuit:</b> {{circuit.name}}
            {% endif %} 
        {% endfor %}
      </span>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card-panel center-align orange lighten-3">
      <span>
        {% for circuit in circuits %}
        {% if circuit.circuitId == races.circuitId %}
          <b>Location:</b> {{circuit.location}}
        {% endif %} 
      {% endfor %}
    </span>
  </div>
</div>
<div class="col s4 m4">
  <div class="card-panel center-align orange lighten-3">
    <span>
      {% for circuit in circuits %}
      {% if circuit.circuitId == races.circuitId %}
        <b>Country:</b> {{circuit.country}}
      {% endif %} 
    {% endfor %}
  </span>
</div>
</div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#qualifying_results">Qualifying Results</a></li>
      <li class="tab col s3"><a href="#race_results">Race Results</a></li>
      <li class="tab col s3"><a href="#driver_standings">Driver Standings</a></li>
      <li class="tab col s3"><a href="#constructor_standings">Constructor Standings</a></li>
    </ul>
  </div>
  <div id="qualifying_results" class="col s12">
    {% if qualifying | length > 0 %}
    <table class="striped centered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Q1</th>
          <th>Q2</th>
          <th>Q3</th>
        </tr>
      </thead>
      <tbody>
            <tr>
          <td>{{ quali.position }}</td>
          <td>
            {% for driver in drivers %}
              {% if quali.driverId == driver.driverId %}
                {{driver.forename}} {{driver.surname}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>
            {% for constructor in constructors %}
              {% if quali.constructorId == constructor.constructorId %}
                {{constructor.name}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ quali.q1 }}</td>
          <td>{{ quali.q2 }}</td>
          <td>{{ quali.q3 }}</td>
        </tr>
      </tbody>
    </table>
        {% else %}
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="card-panel deep-orange darken-4">
              <span class="white-text">Unfortunately, there is no data available for Qualifying for the {{ races.year}} {{ races.name }}.
              </span>
            </div>
          </div>
        </div>
        {% endif %}
          </div>
  <div id="race_results" class="col s12">
    <table class="striped centered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Points</th>
          <th>Laps</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      
        {% for result in results | selectattr('raceId', 'equalto', races.raceId) %}
        <tr>
          <td>{{ result.position }}</td>
          <td>
            {% for driver in drivers %}
              {% if result.driverId == driver.driverId %}
                {{driver.forename}} {{driver.surname}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>
            {% for constructor in constructors %}
              {% if result.constructorId == constructor.constructorId %}
                {{constructor.name}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ result.points }}</td>
          <td>{{ result.laps }}</td>
          <td>
          {% for status in statuses %}
            {% if result.statusId == status.statusId %}
              {{status.status}}
            {% endif %} 
          {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="driver_standings" class="col s12">
    {% if driver_standings | length > 0 %}
      <table class="striped centered">
        <thead>
          <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Wins</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ standing.position }}</td>
            <td>
            {% for driver in drivers %}
              {% if standing.driverId == driver.driverId %}
                {{driver.forename}} {{driver.surname}}
              {% endif %} 
            {% endfor %}
            </td>
            <td>{{ standing.wins }}</td>
            <td>{{ standing.points }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card-panel deep-orange darken-4">
          <span class="white-text">Unfortunately, there is no data available for the Driver Standings after the {{ races.year}} {{ races.name }}.
          </span>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <div id="constructor_standings" class="col s12">
    {% if constructor_standings | length > 0 %}
    <table class="striped centered">
      <thead>
        <tr>
          <th>Position</th>
          <th>Constructor</th>
          <th>Wins</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>

        
        <tr>
          <td>{{ standing.position }}</td>
          <td>
            {% for constructor in constructors %}
              {% if standing.constructorId == constructor.constructorId %}
                {{constructor.name}}
              {% endif %} 
            {% endfor %}
          </td>
          <td>{{ standing.wins }}</td>
          <td>{{ standing.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card-panel deep-orange darken-4">
          <span class="white-text">Unfortunately, there is no data available for the Constructor Standings after the {{ races.year}} {{ races.name }}.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
      
{% endblock %}
